<template name="HomePublic">
	{{> HomePublicHomeJumbotron}}
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
	</div>
</template>

<template name="HomePublicHomeJumbotron">
	<div class="jumbotron ">
		<div id="content" class="container">
			<h1 id="component-title">
				<span class="fa fa-cloud">
				</span>
				Cloud IDE
			</h1>
			<p id="jumbotron-text">
				This example application is built with <a href="http://www.meteorkitchen.com" target="_blank">Meteor Kitchen</a> - code generator for <a href="https://www.meteor.com/" target="_blank">Meteor.js</a>
			</p>
			<p id="jumbotron-button">
				<a href="#" class="btn btn btn-primary btn-lg" role="button">
					Continue &raquo;
				</a>
			</p>
		</div>
	</div>
</template>

